html{
    height: 100%;
    width: 100%;
}
body{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    background: linear-gradient(rgba(255, 163, 132, 1) 0%, rgba(231, 242, 248, 1) 100%);
    min-width: 100%;
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    

    
}
:root {
/* Color */
--primary : #ffffff;
--secondary: color-mix(normal, white 50%, gray 50%);
--pearl: rgb(248, 246, 240);
}
.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
/* Example of me using a fall back variable */
h1{
    color: var(--pearl, blue);
    font-size: 4em;
    text-align: center;
    text-decoration: overline;
}

/* CSS Style for the attedance header */
#attendance {
    color: var(--primary, color(0.75 0.75 0.75 / 50%));
}
h2, h3{
    color: var(--primary);
    text-decoration: underline;
}
header{
    display: block;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 5px 5px 5px 5px;
    margin: 10px 10px 10px 10px;
    min-width: 100vw;
    max-width: 100vw;
    
}

h2, h3,li{
    font-family: "Inter Tight", sans-serif;
    
    font-weight: 600;
    font-style: normal;
}
p{
    font-family: "Inter", sans-serif;
    
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;

}
/* give all sections borders */

#common{
        border-style: solid;
        border-color: #74BDCB;
        border-width: 5px;
        border-radius: 20px;
        margin: 5px 5px 5px 5px;
        padding: 5px 5px 5px 5px;
}

/* Flex Items */

.intro{
    flex-grow: 1;
}
.sec2{
    flex-grow: 3;
}

.sec3{
    flex-grow: 1;
}

/*nav bar */
nav {
    display: grid;
    grid-template-columns: repeat(2, auto); /* Two columns */
    grid-template-rows: auto auto; /* Two rows */
    color: white;
    padding: 10px 20px;
    gap: 20px; /* Gap between menu items */
    justify-content: center; /* Center align items horizontally */
    font-family: "Inter", sans-serif;
    
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
  }

  nav a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px;
    transition: background-color 0.3s ease;
  }

  nav a:hover {
    background-color: #74BDCB;
  }

  div *{
    color: white;
  }
  div > p{
    color: black;
  }
  a[title] {
    color: purple;
  }
  div + p {
    color: white;
  }
  div ~ p {
    color: white;
  }
  h1:has(+ p) {
    margin-bottom: 0;
  }

  nav > a:hover,
  nav > a:active
  nav > a:focus {
  color: ivory;
  background-color:#74BDCB;
}
  @media (max-width: 720px) {
    body{
        min-width: 100%
    }
    header{
        position: sticky;
        top: 0px;
        min-width:100%;
        display: flex;
        justify-content: center;
        width: fit-content;
        background-color: rgb(248, 177, 153, 1);
        margin:0;
    }
    .flex-container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .intro{
        flex-grow: 1;
    }
    .sec2{
        flex-grow: 1;
    }
    
    .sec3{
        flex-grow: 1;
    }
    nav{
        position: fixed;
        width: 100%;
        display: block;
        text-align: center;
    }
  }